<<<<<<< HEAD
@import "core/_reset";
@import "core/_go-about";
@import "core/_form";
=======
body,
html {
  margin: 0px;
  top: 0%;
  color: rgb(255, 255, 255);
}

/*
.go-team {
  display: block;
  position: relative;
  top: 60px;


/*.container-texto {
  width: 100%;
  height: 2.813rem;
  font: 24px "Rubik", sans-serif;
  line-height: 1.88;
  text-align: center;
  color: rgb(20, 217, 196);
}

.container-equipo {
  width: 100%;
  font-family: "OpenSans", sans-serif;
  line-height: 1.5;
  text-align: center;
  color: #54585a;
}*/

/*main
.container-principal {
  margin-top: 60px;
  width: 100%;
  height: 200px;
  background-color: #ffffff;
}*/

/* CAMBIAR CSS DESDE AQUÃ*/

i {
  color: #099d8d;
}

.mark {
  margin: 0;
  width: 100%;
  color: rgb(184, 184, 185);
}

.footer {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.copyright-footer {
  margin-top: 1.875rem;
  margin-bottom: 0;
  color: #b8b8b9;
  font-size: 0.875rem;
  text-align: center;
}

.nav-footer {
  width: 100%;
  text-align: center;
  padding-left: 0px;
}

.list-footer {
  margin: 0px;
  list-style: none;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-decoration: none;
}

ul {
  padding: 0px;
}

.image-footer {
  display: flex;
  width: 115.9px;
  height: 45px;
  text-align: center;
}

.image-footer img {
  width: 100%;
  height: 100%;
  margin-bottom: 45px;
}

.links-footer {
  text-decoration: none;
  color: #54585a;
  font-size: 0.875rem;
  font-family: "Open Sans", sans-serif;
}
@import "core/_settings";
@import "core/_header";
@import "core/_go-team";
@import "core/_sandw";
@import "core/_go-about";
>>>>>>> 0d7a9abc9a02c1817494e47c862c85edab5e9c55
