body,
html {
  margin: 0px;
  top: 0%;
  color: rgb(255, 255, 255);
}
@import "core/_settings";
@import "core/_header";
@import "core/_go-team";
@import "core/_sandw";
@import "core/_go-about";
<<<<<<< HEAD
=======
@import "core/footer";
>>>>>>> 8daffeffb2afa6bdfaf8bcdc6a2bf7e1c526b186
