body,
html {
  margin: 0px;
  top: 0%;
  color: rgb(255, 255, 255);
}
<<<<<<< HEAD

@import "core/variables";
=======
@import "core/_variables";
@import "core/_settings";
>>>>>>> 187dbe9357ee5002f2e5144d67ca5cd486054635
@import "core/_header";
@import "core/_go-team";
@import "core/_sandw";
@import "core/_go-about";
@import "core/_footer";
