<footer class="footer">
  <hr class="footer__mark" noshade size="1px" ; />
  <small class="footer__copy">The cool coders © 2020</small>
  <nav class="footer__nav grid-nav">
    <ul class="grid-nav__item">
      <li class="grid-nav__list">
        <a class="grid-nav__link" href="./index.html#go_team">Equipo</a>
      </li>
      <li class="grid-nav__list">
        <a class="grid-nav__link" href="./index.html#go_about">Quiénes somos</a>
      </li>
      <li class="grid-nav__list">
        <a class="grid-nav__link" href="#go_contact">Contacto</a>
      </li>
    </ul>
  </nav>
  <div class="footer__logo">
    <a href="https://adalab.es/" target="_blank"><img src="./assets/images/logo-adalab.png" alt="Adalab"/></a>
  </div>
</footer>
