<footer>
  <hr class="mark" noshade size="1px" ; />
  <div class="footer">
    <small class="footer__copy">The cool coders © 2020</small>
    <nav class="footer_nav">
      <ul class="footer_nav__item">
        <li class="footer_nav__list">
          <a class="footer_nav__link" href="#go_team">Equipo</a>
        </li>
        <li class="footer_nav__list">
          <a class="footer_nav__link" href="#go_about">Quiénes somos</a>
        </li>
        <li class="footer_nav__list">
          <a class="footer_nav__link" href="./contact.html">Contacto</a>
        </li>
      </ul>
    </nav>
    <div class="footer__logo">
      <a href="https://adalab.es/" target="_blank"><img src="./assets/images/logo-adalab.png" alt="logo adalab"/></a>
    </div>
  </div>
</footer>
