<footer>
  <hr class="mark" noshade size="1px" ; />
  <div class="footer">
    <p class="copyright-footer">The cool coders © 2020</p>
    <nav class="nav-footer">
      <ul>
        <li>
          <a class="links-footer" href="#go_team">Equipo</a>
        </li>
        <li>
          <a class="links-footer" href="#go_about">Quiénes somos</a>
        </li>
        <li>
          <a class="links-footer" href="#">Contacto</a>
        </li>
      </ul>
    </nav>
    <div class="logo-footer">
      <a href="https://adalab.es/"
        ><img src="./images/logoadalab.png" alt="logo adalab"
      /></a>
    </div>
  </div>
</footer>
