<section id="go_team" class="go-team">
	<div class="style-box">
		<h1 class="container-texto uppercase">equipo</h1>

		<div class="container-equipo">
			<p>	<strong>The Cool Coders</strong> es un colectivo de adalabers que surge
					de la transformación del sector digital y de la creciente demanda de más
					talento femenino que aporte diversidad, crecimiento e innovación al campo
					de las nuevas tecnologías.
					<br />Por ello, en un momento en el que se precisan muchos profesionales cualificados
					y especializados, decidimos dar un cambio a nuestras vidas y apostar por
					un sector en continuo crecimiento y desarrollo.</p>
			<p>Somos una agencia pequeña de programadoras front-end junior que cuenta
					con la formación y motivación suficiente para colaborar en proyectos con
					empresas de distintos tamaños y sectores del mundo de la programación y
					el desarrollo web.
					<br />Creemos que la confianza y el trabajo en equipo es la clave para construir
					relacione productivas y duraderas, tanto entre nosotras como con los clientes. <strong>Conócenos</strong>.</p>
		</div>
	</div>
	
	<aside class="section-2">

		<div class="square"></div>
		<h3 class="section-2-title">Fortalezas</h3>
		<p class="section-2-text">Somos un equipo organizado y comprometido que aborda cada proyecto desde
			una visión global.<br></br>Tomando la creatividad y tecnicidad de base, nuestro trabajo derrocha
			versatilidad debido a nuestra variada experiencia profesional previa.<br></br>Asimismo,
			dominamos diversas herramientas de RRHH, marketing, recursos digitales e idiomas, que
			potenciarían la difusión de tu proyecto.</p>


		<h3 class="section-2-title">Debilidades</h3>
		<p class="section-2-text">Tenemos un perfil junior, pero aportamos un gran espíritu de superación,
			ganas de aprender y motivación.<br></br>A veces las tareas se nos acumulan, y surgen problemas.
			Sin embargo, los convertimos en desafíos a superar.<br></br>Y sí, nos gusta ir de cañas, pero
			como actividad de team-building, aprovechando la oportunidad para compartir conocimientos y
			código ;)
		</p>

	</aside>
</section>