<div class="menu">
  <header class="header">
    <h1 class="main-title">THE COOL CODERS</h1>
  </header>
  <nav class="nav">
    <ul class="nav-menu">
      <li class="list"><a href="#go_team">EQUIPO</a></li>
      <li class="list"><a href="#go_about">QUIENES SOMOS</a></li>
      <li class="list"><a href="#">CONTACTO</a></li>
    </ul>
  </nav>
</div>
<main>
  <section class="hero-image">
    <div class="hero-text">
      <h2>
        Lo que te hace diferente ahora, te hará destacar más adelante
      </h2>
    </div>
  </section>
</main>
