<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Rubik:500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./assets/css/core/main.css" />
    <title>THE COOL CODERS</title>
  </head>
  <body>
    <div class="menu">
      <header class="header">
        <h1 class="main-title">THE COOL CODERS</h1>
      </header>
      <nav>
        <ul class="nav-menu">
          <li class="list"><a href="#go_team">EQUIPO</a></li>
          <li class="list"><a href="#go_about">QUIÉNES SOMOS</a></li>
          <li class="list"><a href="#">CONTACTO</a></li>
        </ul>
      </nav>
    </div>
    <main>
      <section class="hero-image">
        <div class="hero-text">
          <h2>
            "Lo que te hace diferente ahora, te hará destacar más adelante"
          </h2>
        </div>
      </section>
    </main>
  </body>
</html>
