<aside class="sandw">

  <div class="square"></div>

  <div class="sandw-container-s">

  <h3 class="sandw-title capitalize">fortalezas</h3>
  <p class="sandw-text">Somos un equipo organizado y comprometido que aborda cada proyecto desde
    una visión global.<br></br>Tomando la creatividad y tecnicidad de base, nuestro trabajo derrocha
    versatilidad debido a nuestra variada experiencia profesional previa.<br></br>Asimismo,
    dominamos diversas herramientas de RRHH, marketing, recursos digitales e idiomas, que
    potenciarían la difusión de tu proyecto.</p>

  </div>

  <div class="sandw-container-w">
  <h3 class="sandw-title capitalize">debilidades</h3>
  <p class="sandw-text">Tenemos un perfil junior, pero aportamos un gran espíritu de superación,
    ganas de aprender y motivación.<br></br>A veces las tareas se nos acumulan, y surgen problemas.
    Sin embargo, los convertimos en desafíos a superar.<br></br>Y sí, nos gusta ir de cañas, pero
    como actividad de team-building, aprovechando la oportunidad para compartir conocimientos y
    código ;)
  </p>
  </div>

</aside>

