* {
  margin: 0px;
  padding: 0px;
}
/* Versión movil */
/* Inicio Main */
.main {
  width: 100%;
  height: 50.625rem;
  text-align: center;
  margin-bottom: 50px;
}
/* CONTACTO */
.form-contact {
  width: 7.938rem;
  height: 2.813rem;
  margin: 1.875rem auto;
  font-family: $primary-font;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  line-height: 1.88;
  color: $primary-color;
}
/* Parrafo y small */
.form-container-text {
  width: 18.125rem;
  height: 9rem;
  margin: 0.938rem auto;
  font-family: $secondary-font;
  font-size: 1rem;
  line-height: 1.5;
  color: $second-color;
}
small {
  font-size: 12px;
}
/* Asterisco */
.form-text-style-1 {
  font-size: 0.75rem;
  color: $third-color;
}
/* Contenedor formulario */
.container-form {
  display: inline-block;
  height: 30.625rem;
  margin-top: 5.25rem;
}
.label {
  text-align: left;
  height: 1.188rem;
  margin-top: 0.813rem;
  margin-bottom: 0.438rem;
  font-family: $secondary-font;
  font-size: 0.875rem;
  color: $second-color;
}
/* Nombre completo */
#firstName {
  width: 18.125rem;
  height: 2.813rem;
  border: solid 1px $border-color;
}
/* Email y teléfono */
.second-part {
  display: block;
  text-align: center;
}
#Email {
  width: 18.125rem;
  height: 2.813rem;
  border: solid 1px $border-color;
}
.Telephone {
  padding-left: 0;
}
#Tel {
  width: 18.125rem;
  height: 2.813rem;
  border: solid 0.063rem $border-color;
}
/* Mensaje */
#Message {
  width: 18.125rem;
  height: 6.563rem;
  border: solid 1px $border-color;
}
/* Botón */
#Button {
  width: 17.375rem;
  height: 2.813rem;
  margin-top: 1.875rem;
  border-radius: 0.25rem;
  color: $button-text-color;
  background-color: $primary-color;
}
.form.button {
  text-align: center;
  margin-bottom: 45px;
}

/* Versión tablet */
@media all and (min-width: 768px) and (max-width: 1200px) {
  /* Inicio Main */
  .container-main {
    height: 50.625rem;
  }
  /* Parrafo y small */
  .form-container-text {
    width: 27.625rem;
    height: 7.5rem;
  }
  .label {
    width: 8.188rem;
    height: 1.188rem;
  }
  /* Nombre completo */
  #firstName {
    width: 27.625rem;
  }
  /* Email y teléfono */
  .second-part {
    display: block;
  }
  #Email {
    width: 27.625rem;
  }
  .Telephone {
    padding-left: 0;
  }
  #Tel {
    width: 27.625rem;
  }
  /* Mensaje */
  #Message {
    width: 27.625rem;
  }
  .form-button {
    text-align: right;
  }
}
@media (min-width: 1200px) {
  /* Inicio Main */
  .container-main {
    height: 47.063rem;
  }
  /* Parrafo y small */
  .form-container-text {
    width: 37.563rem;
    height: 6rem;
  }
  .label {
    width: 8.188rem;
    height: 1.188rem;
  }
  /* Nombre completo */
  #firstName {
    width: 37.563rem;
  }
  /* Email y teléfono */
  .second-part {
    display: flex;
  }
  #Email {
    width: 24.688rem;
  }
  .Telephone {
    padding-left: 2.75rem;
  }
  #Tel {
    width: 10.125rem;
  }
  /* Mensaje */
  #Message {
    width: 37.563rem;
  }
  .form-button {
    text-align: right;
  }
}
