* {
  margin: 0px;
  padding: 0px;
}

.capitalize {
  text-transform: capitalize;
}

.sandw {
  position: relative;
  background-color: $border-color;
  padding: 30px 15px 45px 15px;

  &-container-s {
    padding-bottom: 30px;
    display: block;
  }

  &-title {
    box-sizing: border-box;
    font-size: 22px;
    font-family: "Rubik", "sans-serif";
    line-height: 2.05;
    text-align: center;
    color: #099d8d;
  }

  &-text {
    box-sizing: border-box;
    font-family: "OpenSans", sans-serif;
    line-height: 1.5;
    text-align: center;
    color: $second-color;
    overflow: hidden;
  }

  &-container-w {
    display: block;
  }
}
.square {
  width: 30px;
  height: 30px;
  border: hidden;
  margin: initial;
  background-color: $button-text-color;
  top: 0%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%) rotate(45deg);
}

@media all and (min-width: 768px) {
  .sandw {
    padding: 45px 45px 60px 45px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;

    &-text {
      text-align: center;
    }

    &-container-s {
      padding-bottom: 0px;
      padding-right: 15px;
      display: block;
    }

    &-container-w {
      padding-left: 15px;
      display: block;
    }
  }
}

@media all and (min-width: 1200px) {
  .sandw {
    padding: 45px 45px 60px 45px;
    position: relative;
    display: flex;
    flex-direction: row;

    &-text {
      width: 439px;
      text-align: center;
    }

    &-container-s {
      padding-bottom: 0px;
      padding-right: 22.5px;
      display: block;
    }

    &-container-w {
      padding-left: 22.5px;
      display: block;
    }
  }
}
